<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sophonomores.FoodRadar"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required for Merchant Internet Connection and Visa Checkout -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for Visa Checkout -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sophonomores.FoodRadar.ConfirmedOrdersActivity" />
        <activity android:name="com.sophonomores.FoodRadar.PaymentActivity" />
        <activity android:name="com.sophonomores.FoodRadar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sophonomores.FoodRadar.CartActivity" />
        <activity android:name="com.sophonomores.FoodRadar.MenuActivity" />
        <activity android:name="com.sophonomores.FoodRadar.CustomerMainActivity" />
        <activity android:name="com.sophonomores.FoodRadar.MerchantMainActivity" />
        <activity android:name="com.sophonomores.FoodRadar.OrderActivity" />
        <activity android:name="com.sophonomores.FoodRadar.CardActivity" />
        <activity android:name="com.sophonomores.FoodRadar.AddCardActivity" />
        <activity android:name="com.sophonomores.FoodRadar.ProfileActivity" />
        <activity android:name="com.sophonomores.FoodRadar.MerchantMenuActivity" />
    </application>

</manifest>